:root {
    --icon-font-size: 17px;
    --icon-color: #f4a261;
}

html, body { margin: 0; padding: 0; width:100%; height:100%;}

#root, #app { margin: 0; padding: 0; width:100%; height:100%;}

.widget {margin: 0; padding: 0; width:100%; height:100%;}
.center {display: flex; justify-content: center; align-items: center;}

.title-bar { display: flex; width: 100%; }
.title-bar .title {
    flex: 1;
    display: flex;
    justify-content: center; align-items: center;
}
/*.title-bar .controls {  }*/

.fa-music { color: var(--icon-color); font-size: var(--icon-font-size);}
/*.fa-music:hover { transform: var(--icon-hover-scale);}*/